<h1 class="mt-4">Cadratro Privilege</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro de novo privilegio</li>
</ol>
<div class="container">
    <form #privilegeForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Privilege salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Id:</label>
                    <input type="text" class="form-control" disabled="true"
                            [ngModel]="privileges.id" name="id"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" 
                            [(ngModel)]="privileges.name" name="name"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" (click)="clicar()">
                    <i class="fa fa-save"></i> Save
                </button>

                <button class="btn btn-danger" routerLink="/privilege/list">
                    <i class="fa fa-ban"></i> Cancel
                </button>
            </div>
        </div>
    </form>
</div>
